.ticketAdder_item {
    font-size: 13px;
    box-sizing:border-box;
    color: #6B808C;
    padding: 12px;
    margin-top: -6px;
    cursor: pointer;
}

.ticketAdder_hidden{
    display: none;
}

.ticketAdder_button {
    margin-left: 8px;
    margin-bottom: 8px;

    background: #39C071;
    border-radius: 3px;

    height: 30px;
    border:0;
    cursor: pointer;

    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: white;
}

.ticketAdder_textarea {
    resize:none;
    margin-left: 8px;
    margin-bottom: 2px;
    min-width: 237px;
    padding: 8px 6px 8px 12px;
    box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
    overflow: hidden;

    font-size: 13px;
    line-height: 19px;
}

.ticketAdder_item:before {
    content: "";
    padding: 0 15px 0 8px;
    background: url('../../images/plus.svg') 0 0 no-repeat;
}

.ticketAdder_cross {
    width:15px;
    height:15px;
    float: right;
    margin-right: 10px;
    margin-top: 13px;
    background-image: url(../../images/cross.svg);
    opacity:1;
    cursor:pointer;
}

.ticketAdder_wrap {
    max-width: 272px;
}