.ticketAdder_item {
    font-family: Montserrat, Arial, Verdana, sans-serif;
    font-size: 13px;
    box-sizing:border-box;
    color: #6B808C;
    padding: 0 0 0 12px;
    cursor: pointer;
}

.ticketAdder_item:before {
    content: "!";
    padding: 0 15px 0 8px;
}